<img src="assets/img/logo01.png" class="logo67">
<div class="kader">
<div class="form-group">
    <label for="exampleInputEmail1">Voeg je boodschappen toe</label>
    <input [(ngModel)]="addGroc" type="text" class="form-control">
    <small id="emailHelp" class="form-text text-muted">Boodschappen lijst</small>
    <small id="emailHelp" class="form-text text-muted"><br><b>{{notification}}</b></small>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" [(ngModel)]="statusGroc">
    <label class="form-check-label" for="exampleCheck1">Aanvinken voor 'Belangrijk'</label>
  </div>
<button (click)="addNewGroc()" class="btn btn-primary mb-3 mt-3">Nieuwe boodschappen toevoegen</button>
  <div class="card">
    <ul class="list-group list-group-flush">
      <!-- Met de async pipe, onze observable gaan uitlezen in real time -->
      <li *ngFor="let groc of Grocs$ | async" class="list-group-item">
        <span (click)="deleteGroc(groc.id)" class="oi oi-circle-x" style="color:red; margin-right: 0.5em; margin-bottom: -5px;"></span>
          <input type="text" #updateVolgende (blur)="updateGroc(groc.id,updateVolgende.value)" class="updateGroc" value="{{groc.name}}">
          <span *ngIf="groc.status == 1">
            <svg xmlns="http://www.w3.org/2000/svg"  style="float: right; color:red;" width="40" height="30" fill="currentColor" class="bi bi-exclamation" viewBox="0 0 16 16">
              <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.553.553 0 0 1-1.1 0L7.1 4.995z"/>
            </svg>
          </span>
      </li>
    </ul>
  </div>
</div>