<div class="form-group">
    <label for="exampleInputEmail1">Voeg je boodschappen toe</label>
    <input [(ngModel)]="addGrocery" type="text" class="form-control">

    <small id="emailHelp" class="form-text text-muted">Boodschappen lijst</small>
    <small id="emailHelp" class="form-text text-muted"><br><b>{{notification}}</b></small>
  </div>
  
  <div class="form-check">
    <input type="checkbox" class="form-check-input" [(ngModel)]="statusGrocery">
    <label class="form-check-label" for="exampleCheck1">Aanvinken voor 'Belangrijk'</label>
  </div>

<button (click)="addNewGrocery()" class="btn btn-primary mb-3 mt-3">Nieuwe boodschappen toevoegen</button>

<div *ngIf="(Grocery$ | async) as grocery"class="card p-2 mb-2" style="width: 18rem;">
{{grocery.status}} - {{grocery.name}}
</div>

  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <!-- Met de async pipe, onze observable gaan uitlezen in real time -->
      <li *ngFor="let grocery of Groceries$ | async" class="list-group-item">
        <span (click)="deleteGrocery(grocery.id)" class="oi oi-circle-x" style="color:red"></span>
        <!-- <span (click)="getgrocery(grocery.id)">  -->
          <!-- {{grocery.id | currency:'EUR'}}  -->
          <input type="text" #updateVolgende (blur)="updateGrocery(grocery.id,updateVolgende.value)" class="updateGrocery" value="{{grocery.name}}">
          
        <!-- </span> -->
      
      </li>
    </ul>
  </div>