body {
    
   
}
h1 {
    font-weight: 100;
    color: white;
    font-size: 40px;
}


label {
    color: white;
}

small#emailHelp {
    color: white;
}

small#emailHelp {
    color: #ffffff54!important;
}

button.btn.btn-primary {
    background-color: red;
    border-color: red;
    font-weight: 200;
}

li.list-group-item {
    padding: 15px;
    background-color: #000000;
    
}
input.form-control {
    width: 290px;
}
.card {
    border: none;
}

.kader {
    border-style: 10px;
    border-color: black;
}

