/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(assets/img/676126.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {

    color: rgb(237, 243, 238);
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.phone-logo {
}


label {
    color: rgb(0, 0, 0);
    
}

small#emailHelp {
    color: white;
    
}

small#emailHelp {
    color: #ffffff54!important;
}

button.btn.btn-primary:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: teal;
    
    border-radius: 4px;
    font-weight: normal;
    
    transition: all 0.2s ease-in-out;
    border: none;
    /*background-color: black;
    border-color: #ff619d;
    /*font-weight: 200;*/
    

}

li.list-group-item {
    padding: 15px;
    background-color: #e91e6300;
    
}
input.form-control {
    width: 290px;
    
}
.card {
    border: none;
}

input.updateGroc {
    border: none;
}

.belangrijk {
    font-size: 55px;
    background-color: red;
}

.col {
    margin-left: 40%;
    
}

.kader {
    border-width: 15px;
    border-radius: 3px;
    border: solid;
    display: inline-block;
    color:rgba(59, 57, 57, 0.562);
    padding: 10px;
    background-color: whitesmoke;
}


