<div class="form-group">
    <label for="exampleInputEmail1">Enter your todo item</label>
    <input [(ngModel)]="addTodo" type="text" class="form-control">

    <small id="emailHelp" class="form-text text-muted">What a magnificent small angular todo app....</small>
    <small id="emailHelp" class="form-text text-muted"><br><b>{{notification}}</b></small>
  </div>
  
  <div class="form-check">
    <input type="checkbox" class="form-check-input" [(ngModel)]="statusTodo">
    <label class="form-check-label" for="exampleCheck1">Status, check for important</label>
  </div>

<button (click)="addNewTodo()" class="btn btn-primary mb-3 mt-3">New todo item</button>

<div *ngIf="(todo$ | async) as todo"class="card p-2 mb-2" style="width: 18rem;">
{{todo.status}} - {{todo.name}}
</div>

  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <!-- Met de async pipe, onze observable gaan uitlezen in real time -->
      <li *ngFor="let todo of todos$ | async" class="list-group-item">
        <span (click)="deleteTodo(todo.id)" class="oi oi-circle-x" style="color:red"></span>
        <!-- <span (click)="getTodo(todo.id)">  -->
          <!-- {{todo.id | currency:'EUR'}}  -->
          <input type="text" #updateWeetikveel (blur)="updateTodo(todo.id,updateWeetikveel.value)" class="updateTodo" value="{{todo.name}}">
          
        <!-- </span> -->
      
      </li>
    </ul>
  </div>